/* Generic */

:root {
  --main-color:#000;
  --sec-color:#D1D1D1;
  }

@-ms-viewport{
  width: device-width;
}

ul {
  list-style: none !important;
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-size: 5vh;
}

h3 {
  font-size: 3vh;
  font-weight: 600;
}

h1, h3 {
  color: white;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"SF Pro Display","SF Pro Icons","neue-haas-grotesk-display","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #000;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
}

.body-class {
  min-width: 600px;
}

/* Navbar */

#menu {
  z-index: 8;
  position: fixed;
}

.line-wrap {
  width: 18px;
  height: 12px;
  margin: 3vw;
  transition: all 600ms ease-in-out;
  cursor: pointer;
}
.active.line-wrap {
  transform: rotate(270deg);
}
.line {
  width: 18px;
  height: 2px;
  background-color: #000;
  transition: all 600ms ease-in-out;
}
.line.center {
  margin: 3px 0;
}
.active .line.top {
  width: 12px;
  transform: translateX(8px) translateY(1px) rotate(45deg);
}
.active .line.bottom {
  width: 12px;
  transform: translateX(8px) translateY(-1px) rotate(-45deg);
}

.menu-field {
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #F8F8F7;
  transition: all 400ms ease-in-out;
  opacity: 0;
}

.active.menu-field {
  z-index: 4;
  opacity: 100;
}

.field-wrap {
  margin-top: 40vh;
  text-align: center;
}

.menu-text {
  cursor: pointer;
  transition: all 250ms ease-in-out;
  font-size: 12vw;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
  letter-spacing: -0.5vw;
  margin: 5vh;
  color: transparent;
}

@supports not (-webkit-text-stroke: 1px) {
  div {
    color: black;
  }
}

.menu-text:hover {
  color: #000;
}

@media only screen and (max-width: 500px) {
  .menu-text {
    font-size: 20vw;
    -webkit-text-stroke: 0px black;
    color: black;
  }
}

/* End of Navbar */

.v-wrap {
  width: 84vw;
  display: table;
  margin: auto;
  margin-top: 10vh;
}

.video {
  height: 50vw;
  width: 84vw;
  clip-path: inset(5% 0% 5% 0%);
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p2-banner {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../images/p-bg-tinad.jpg');
  height: 90vh;
}

.cluster-title-p2 {
  position: absolute;
  width: 40%;
  top: 50%;
  margin-left: 30%;
  transform: translate(0, -50%);
}

.p2-img-comp {
  display: block;
  margin: auto;
  position: relative;
  display: inline-block;
  max-width: 80vh;
}

#p2-img-sss, #p2-img-as {
  width: 100%;
  height: 100%;
}

#p2-img-sss {
  position: absolute;
}

#p2-img-as {
  position: relative;
  top: var(--as-top);
}

.p2-screen {
  display: inline-block;
  margin-left: 5vw;
}

#p2-img-screen {
  width: 20vw;
  max-width: 448px;
}

.slide-01-p2 {
  overflow: hidden;
  background-color: #FAFAFA;
  padding: 10vh 5vw 0 10vw;
  margin: 0;
}


.slide-03 {
  margin: 0 0 0 0;
  background-color: #ffffff;
}

.slide-03-container, .slide-05-container {
  width: 84vw;
  margin: auto;
  padding: 13vh 0 10vh 0;
}

.title-03 {
  font-size: 1.3vw;
  font-family: "Space Grotesk","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  /*text-decoration: underline;*/
}

.text-03 {
  font-size: 2.3vw;
  line-height: 3.2vw;
  font-weight: 600;
  letter-spacing: -0.05vw
}

.text-03 a {
  text-decoration: underline;
}

.slide-04 {
  padding: 25vh 10vw 25vh 10vw;
  background-color: black;
}

.slide-04-container {
}

#title-04 {
  color: #ffffff;
  margin-bottom: 12vh;
}

.img-04 {
  width: 60vw;
  display: table;
  margin: auto;
}

.img-04-s {
  vertical-align: top;
  width: 25vw;
}

#img-04-s1 {
  margin-bottom: 6vh; 
}

.data-04 {
  color: #989898;
  font-size: 1.4vw;
  line-height: 2.3vw;
  margin-bottom: 5vh;
  letter-spacing: -0.02vw;
  margin-top: 20vh;
}

.data-04-desc {
  display: inline-block;
  width: 30vw;
  margin-left: 10vw;
  margin-top: 6vh;
}

.title-method {
  font-weight: 700;
  margin-top: 0;
  color: #ffffff;
  font-family: "Space Grotesk","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.slide-05 {
  background-color: #F8F8F7;
}

.img-05 {
  width: 80vw;
  margin: 8vh 0 5vh 0;
}

.video-frame {
  width: 100%;
  height: 100%;
}

/********* Mobile **********/

@media only screen and (max-width: 500px) {
  #img-d, .navbar {
    display: none;
  }
}

@media only screen and (min-width: 501px) {
  #img-m, .desc-05 {
   display: none;
  }
}

@media only screen and (max-width: 500px) {
  .cluster-title-p2 {
   width: 80vw;
   margin-left: 10vw;
  }
}

@media only screen and (max-width: 500px) {
  .text-03, .d05-title {
   font-size: 5.2vw;
   line-height: 7.2vw;
   font-weight: 600;
  }
}

@media only screen and (max-width: 500px) {
  .slide-03-container, .slide-05-container {
   padding: 5vh 0 5vh 0;
  }
}

@media only screen and (max-width: 500px) {
  .title-03, .title-method {
   font-size: 6vw;
  }
}

@media only screen and (max-width: 500px) {
  .img-04-s {
   width: 65vw;
  }
}

@media only screen and (max-width: 500px) {
  .data-04-desc {
   width: 84vw;
   margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .text-method, .d05-sub {
   font-size: 4.3vw;
   line-height: 5.4vw;
  }
}
