:root {
    --medium-gray: #cccccc;
    --dark-gray: #b3b3b3;
  }
  
  ::selection {
    background: #070707;
    color: #fff;
  }
  
  ::-moz-selection {
    background: #070707;
    color: #fff;
  }
  img {
    max-width: 1440px;
  }
  html {
    scroll-behavior: smooth;
  }
  a {
    text-decoration: underline;
  }
  sup {
    font-size: 1vw;
    vertical-align: top;
  }
  body {
    background-color: #fff;
    font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Icons", "neue-haas-grotesk-display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #000;
    letter-spacing: -0.022em;
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    font-feature-settings: "kern";
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.slide-1, .slide-2, .slide-4, .slide-5, .slide-6, .slide-7 {
    padding: 0 10%;
}

h1 {
    font-size: 10vw;
    line-height: 8vw;
    font-weight: 400;
    letter-spacing: -0.055em;
}
h2 {
    font-size: 10vw;
    letter-spacing: -0.055em;
    font-weight: 800;
}
h3 {
    font-size: 6vw;
    letter-spacing: -0.05em;
    font-weight: 800;
}
.intro {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 3.5vw;
    margin-bottom: 5vw;
}
.main-title {
    margin-right: 3.5vw;
}
.subtitle {
    font-family: "SF Pro","Helvetica","SF Pro Icons","Helvetica Neue","Arial",sans-serif;
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: 0.022rem;
    line-height: 2.5vw;
}
.main-subtitle-child {
    align-self: flex-end;
    margin-bottom: 0vw;
}
.main-subtitle {
    display: flex;
}
#hiri-logo {
    max-width: 100%;
}
#main-subtitle-p {
    margin-top: 25px;
}
.link-group {
    display: flex;
    padding: 0 6vw 0 6vw;
    margin-bottom: 3vw;
}
.link-group>h4 {
    margin: auto;
    font-size: 2vw;
    font-weight: 400;
}
.hero-image {
    text-align: center;
    position: relative;
}
#hero-image {
    max-width: 90%;
    transform: translate(5%, 0);
}
#hero-background {
    background-color: #F4F4F4;
    position: absolute;
    width: 100vw;
    z-index: -100;
    height: 30vw;
    bottom: 0;
}
.slide-1 {
    margin-top: 40px;
}
.slide-4, .slide-5 {
    background-color: #F4F4F4;
}
.features-title {
    text-align: center;
}
#features-emoji {
    font-size: 5vw;
}
.features-list, .h-d-subtitle {
    font-weight: 300;
    font-family: "SF Pro","Helvetica","SF Pro Icons","Helvetica Neue","Arial",sans-serif;
    font-size: 1.4vw;
    line-height: 2.2vw;
    letter-spacing: 0.022rem;
}
.features {
    max-width: 70%;
    margin: auto;
}
.features-list-title {
    font-size: 2vw;
    margin: 40px 0 20px 0;
}
#filters-images {
    max-width: 100%;
    margin: auto;
    transform: translate(1.5%, 0);
}
.slide-4 {
    padding-bottom: 10vw;
}
.slide-5 {
    text-align: center;
    padding-bottom: 12vw;
}
#filters-subtitle, #heatmap-overview-subtitle {
    padding: 2.5vw 25% 2.5vw 25%;
}
.slide-6 {
    text-align: center;
    padding-top: 12vw;
    padding-bottom: 10vw;
}
.h-d-comparison {
    display: flex;
    margin-top: 1.5vw;
}
.h-d-images {
    max-width: 100%;
}
.h-d-cell {
    padding: 0 3vw;
}
.h-d-header {
    font-size: 2vw;
    margin-bottom: 10px;
}

.h-d-subtitle {
    padding: 10px 20px;
}
.slide-7 {
    text-align: center;
    padding-bottom: 10vw;
}
#architecture-images {
    max-width: 90%;
}